<app-nav-bar>
    <ng-container>
        <h1>Helpr</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, eum, omnis fugiat eligendi tempore pariatur veritatis, dolores labore maiores possimus odio ipsa voluptatum incidunt non asperiores! Ducimus, expedita id harum nisi quae vitae voluptatem ipsa aliquid accusantium explicabo. Tempora nulla veritatis nesciunt voluptas consequuntur consectetur ea sit, animi at, saepe asperiores fuga nemo illum eius ut sint delectus obcaecati labore temporibus, molestias quod accusamus? Pariatur consectetur deleniti voluptatibus sed quae deserunt officiis vel excepturi? Obcaecati tenetur tempore corporis corrupti iure est esse error ipsam quo animi rem commodi aliquid aliquam, nobis fuga vel quisquam quam vero nihil, qui accusantium nam!</p>
    </ng-container>
    
</app-nav-bar>

